@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body {
  font-family: 'Nanum Gothic';
}
header {
  margin-top: 15px;
  color: green;
}
main {
  margin: 15px 0 15px 0;
}
.row > div.col-md-6 {
  margin: 0 auto;
}

.tab-pane > div {
  margin-top: 20px;
}

.nav a {
  color: green;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: green;
}

.tab-pane .row {
  margin-top: 0;
}

form .form-group div {
  padding: 0;
}
#canvasPreviewWelcome {
  max-width: 100%;
}
#btnDownload,
#btnDownload:visited,
#btnDownload:link,
#btnDownload:active {
  /* background-color: #5bc0de; */
  color: #fff;
}
#btnDownload:hover {
  color: #cef;
}
footer {
  margin: 0;
  padding-top: 20px;
  width: 100%;
  color: #000;
}

canvas {
  max-width: 100%;
}
.btnDownload {
  margin-bottom: 20px;
}

.btn-black {
  background-color: black;
  color: white;
}
